html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding: 6rem 0 0;
}

.text {
  font-family: $secondary-font;
  font-size: 1.5rem;
  font-style: italic;
  color: $text-color;
  line-height: 1.4;
}

.text--light {
  font-weight: 300;
}

.text-normal {
  font-style: normal;
}