section.about
    .container
        +blockBox({
            caption: "What we do", 
            title: "Story about us", 
            desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui consequuntur, officia non earum nisi unde exercitationem, ducimus facilis numquam deserunt dolorem maiores dolor perspiciatis minima quasi? Quisquam optio reiciendis atque."})
        .about-list
            +aboutItem({
                src: "./images/img-about1.png", 
                title: "Super Team", 
                icon: "fa fa-users"
            })
            +aboutItem({
                src: "./images/img-about2.png", 
                title: "Super Team", 
                icon: "fa fa-users"
            })
            +aboutItem({
                src: "./images/img-about3.png", 
                title: "Super Team", 
                icon: "fa fa-users"
            })