//- header -> header-top -> header-content -> header-bottom -> responsive -> menu Javascript -> Slick Slider

header.header
    .container
        .header-top
            a.header-logo(href="index.html") MoGo
            i.fa.fa-bars.header-toggle
            ul.header-menu
                +menuLink({ title: "About", href: "#about" })
                +menuLink({ title: "Service", href: "#service" })
                +menuLink({ title: "Work", href: "#work" })
                +menuLink({ title: "Contact", href: "#contact" })
                +menuLink({ title: "Blog", href: "#blog" })
                li.header-menu-item
                    a.header-menu-icon(href="#")
                        i.fa.fa-shopping-cart
                li.header-menu-item
                    a.header-menu-icon(href="#")
                        i.fa.fa-search
        .header-content
            h2.header-content-caption Creative template
            h1.header-content-main Welcome to mogo
            a.header-content-more(href="#") Learn more
        .header-bottom
            +headerBottomItem({
                number: "01", 
                title: "Intro"
            })
            +headerBottomItem({
                number: "02", 
                title: "Work"
            })
            +headerBottomItem({
                number: "03", 
                title: "About"
            })
            +headerBottomItem({
                number: "04", 
                title: "Contact"
            })