section.people
    .container
        +blockBox({
            caption: "Happy clients", 
            title: "Whay people say"
        })
        ul.people-list
            +peopleItem({ src: "./images/img-people1.png", name: "Matthew Dix", job: "Graphic Design", desc: ""})
            +peopleItem({ src: "./images/img-people2.png", name: "Nick Karvounis", job: "Graphic Design", desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nisi pariatur ipsam corporis repellendus itaque deserunt, ducimus aliquam quisquam quaerat animi dolorum. Illum sit odit similique commodi animi quia culpa."})
            +peopleItem({ src: "./images/img-people3.png", name: "Jaelynn Castillo", job: "Graphic Design", desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nisi pariatur ipsam corporis repellendus itaque deserunt, ducimus aliquam quisquam quaerat animi dolorum. Illum sit odit similique commodi animi quia culpa."})
            +peopleItem({ src: "./images/img-people4.png", name: "Mike Petrucci", job: "Graphic Design", desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nisi pariatur ipsam corporis repellendus itaque deserunt, ducimus aliquam quisquam quaerat animi dolorum. Illum sit odit similique commodi animi quia culpa."})