section.quote
    .container
        .quote-container
            +quoteItem({src: "./images/img-quote-avatar.png", type: true, desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem sed, adipisci eos voluptatem nihil numquam iste dicta libero delectus, minima veniam cum autem suscipit voluptatibus ea nemo enim ipsam!", author: "Jon Doe"})
            +quoteItem({src: "./images/img-quote-avatar.png", type: true, desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem sed, adipisci eos voluptatem nihil numquam iste dicta libero delectus, minima veniam cum autem suscipit voluptatibus ea nemo enim ipsam!", author: "Jon Doe"})
            +quoteItem({src: "./images/img-quote-avatar.png", type: true, desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem sed, adipisci eos voluptatem nihil numquam iste dicta libero delectus, minima veniam cum autem suscipit voluptatibus ea nemo enim ipsam!", author: "Jon Doe"})
            