section.work
    .container
        +blockBox({
            caption: "What we do", 
            title: "Some of our work", 
            desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio fugiat numquam saepe iusto, esse, minima ad sint placeat veniam illum ullam aliquid! Odio eaque recusandae id nisi facere quas."
        })
    .work-grid
        +workItem({ src: "./images/img-work1.png", icon: "./images/img-work-icon.png", title: "Creatively designed", desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, voluptatem?"})
        +workItem({ src: "./images/img-work2.png", icon: "./images/img-work-icon.png", title: "Creatively designed"})
        +workItem({ src: "./images/img-work3.png", icon: "./images/img-work-icon.png", title: "Creatively designed"})
        +workItem({ src: "./images/img-work4.png", icon: "./images/img-work-icon.png", title: "Creatively designed"})
        +workItem({ src: "./images/img-work5.png", icon: "./images/img-work-icon.png", title: "Creatively designed", desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, voluptatem?", full: "work-item--full"}) 
        +workItem({ src: "./images/img-work6.png", icon: "./images/img-work-icon.png", title: "Creatively designed", desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, voluptatem?"})
        +workItem({ src: "./images/img-work7.png", icon: "./images/img-work-icon.png", title: "Creatively designed", desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, voluptatem?"})
    //- .work-list
    //-     .work-column
    //-         +workItem("./images/img-work1.png", "./images/img-work-icon.png", "Creatively designed", "Lorem ipsum dolor sit amet,")
    //-         +workItem("./images/img-work2.png", "./images/img-work-icon.png", "Creatively designed", "Lorem ipsum dolor sit amet,")
    //-     .work-column
    //-         +workItem("./images/img-work3.png", "./images/img-work-icon.png", "Creatively designed", "Lorem ipsum dolor sit amet,")
    //-         +workItem("./images/img-work4.png", "./images/img-work-icon.png", "Creatively designed", "Lorem ipsum dolor sit amet,")
    //-     .work-column
    //-         +workItem("./images/img-work5.png", "./images/img-work-icon.png", "Creatively designed", "work-item--full", "Lorem ipsum dolor sit amet,")
    //-     .work-column
    //-         +workItem("./images/img-work6.png", "./images/img-work-icon.png", "Creatively designed", "Lorem ipsum dolor sit amet,")
    //-         +workItem("./images/img-work7.png", "./images/img-work-icon.png", "Creatively designed", "Lorem ipsum dolor sit amet,")
        